.banner {
    display: flex;
    align-items: center;
    background-color: #e0d1f4;
    border-radius: 20px;
    padding: 30px;
    margin: 20px 40px;
    overflow: hidden;
    height:50vh;
  }
  
  .banner-text {
    flex: 1;
    color: #333;
    padding-right: 20px;
  }
  
  .banner-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .banner-text p {
    margin-bottom: 20px;
    color: #666;
    font-size: 18px;
  }
  
  .view-button {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .banner-image img {
    height: 400px;
    width: 800px;
    border-radius: 20px;
  }
  