/* Button Styles */
.primary_btn {
  background-color: black;
  padding: 10px;
  color: white;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 15px;
  border-color: #f0f0f0;
}

.primary_btn:hover {
  background-color: #333; /* Darker shade on hover */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.outline_btn {
  background-color: white;
  padding: 16px 10px;
  color: black;
  border: 1px solid black;
  width: 300px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 30px; /* Adjusted left margin to shift the button left */
}

.outline_btn:hover {
  background-color: #f0f0f0; /* Lighter shade on hover */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.submit_button_container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  margin-top: 20px; /* Adds some space above the button */
}

.submit_button {
  padding: 16px 32px; /* Adjust padding for better button size */
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: content-box;
}

.submit_button:hover {
  background-color: #185fec;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
