.navbar-items
{
    position: fixed;
  top : 90px;
  width: 100%;
  z-index: 900;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Increase gap between navbar items */
.nav-categories .nav-link, 
.nav-categories .dropdown-toggle {
  margin-right: 25px; /* Adjust this value to increase/decrease spacing */
  font-weight: 500;
  font-size: 1rem;
  color: #495057;
  
}

.nav-categories .nav-link:hover, 
.nav-categories .dropdown-toggle:hover {
  color: #007bff;
}

@media (max-width: 992px) {
  .nav-categories .nav-link, 
  .nav-categories .dropdown-toggle {
    margin-right: 10px; /* Reduce spacing on smaller screens if necessary */
    
  }

  .navbar-items
{
    
  top : 70px;
 
}
}
