.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #D7C3F1;
    border-radius: 8px;
    height: 450px;
    margin : 5%;
    
  }
  
  .banner .banner-text {
    max-width: 50%;
  }
  
  .banner  .banner-image img {
    max-width: 100%;
    height: 350px;
    border-radius: 8px;
  }
  
  .banner  .view-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .banner .view-button:hover {
    background-color: #0056b3;
  }
  