.modal-overlay {
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 80%; 
  height: 5rem; 
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.shareMedia{
  width: 40%;
  height: 3rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(230, 230, 230);

}
.cancelShare{
  position: 
  relative;
  top: -1rem;
  
}
