

.video-container {
  height: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  transition: all ease .3s;
  user-select: none;
}

@media (max-width: 767px) {
  .video-container {
    overflow-x: hidden;
  }

  .video-container .navBar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
  }

  .video-container .navBar .logo {
    position: unset;
    align-self: center;
  }

  .video-container .navBar .icon {
    margin-left: 20px;
  }

  .video-container .navBar .logo h1 {
    transform: rotate(0);
    transform-origin: 0;
    margin-bottom: 0;
  }

  .video-container .navBar .navContainer {
    top: 75px;
    height: calc(100vh - 75px);
  }

  .video-container .navBar #toggleNav:checked~div.navContainer {
    left: 0;
  }

  .video-container .navBar .navContainer nav {
    width: 20%;
  }

  /* headline */
  .video-container .tagline {
    height: 60px;
    width: 100%;
    top: 150px;
    position: absolute;
    top: 75px;
    left: 0;
    display: flex;
    align-items: center;
  }

  .video-container .tagline .headline {
    transform: rotate(0);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .video-container .tagline .headline span {
    width: 20vh;
  }

  .video-container .tagline::before {
    width: 100%;
    height: 1%;
  }

  .video-container .mainContainer {
    width: 100%;
    margin-top: calc(75px + 60px);
    margin-left: 0;
    grid-template-columns: 1fr;
  }

  .video-container .mainContainer .content .heading {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .video-container .mainContainer .content {
    background-position: center;
    height: 60vh;
  }

  .video-container .fullWidth {
    grid-column: unset;
  }

  .video-container .mainContainer .playDownload {
    flex-direction: column;
  }

  .video-container .content .socialContent {
    right: 0;
  }

  .video-container .headingContent span a {
    display: none;
  }

  .video-container .pagination {
    width: 100%;
    margin-left: 0;
    padding: 5% 0;
  }

  .video-container .pagination span {
    width: 15%;
  }

  .video-container .playVideo{
    width: 100%;
    left: 0;
  }
  .video-container .playVideo span{
    top: 6%;
    right: -4%;
  }
  .video-container .playVideo iframe{
    width: 100%;
    height: 45vh;
  }

}

.video-container .navBar {
  width: 75px;
  background: #000;
  height: 100vh;
  color: white;
  position: fixed;
  z-index: 19;
}

.video-container .navBar .icon {
  text-align: center;
  margin-top: 25px;
}

.video-container .navBar input#toggleNav {
  display: none;
}

.video-container .navBar #toggleNav:checked~.icon label i:nth-child(2) {
  display: block;
}

.video-container  .navBar #toggleNav:checked~.icon label i:nth-child(1) {
  display: none;
}

.video-container  .navBar #toggleNav:checked~nav {
  display: none;
}

.video-container  .navBar .icon label {
  font-size: 22px;
}

.video-container .navBar .icon label i:nth-child(2) {
  display: none;
}

.video-container .navBar #toggleNav:checked~div.navContainer {
  left: 76px;
  transition: all 1s ease-in-out;
  z-index: 0;
}

.video-container .navBar .navContainer {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 1400px;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 80%;
  height: 100vh;
  justify-content: space-between;
  left: -1600px;
}

.video-container .navBar .navContainer nav {
  display: flex;
  flex-direction: column;
  background: #000;
  height: 100vh;
  width: 15%;
  position: relative;
  padding: 10px;
  z-index: 1;
}

.video-container .navBar .navContainer nav .navSocial {
  width: 60%;
  align-self: center;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: 5%;
}

.video-container .navBar .navContainer nav .navSocial a {
  color: rgba(255, 255, 255, 0.5);
}

.video-container .navBar .navContainer nav .navSocial a:hover {
  color: white;
}

.video-container .navBar .navContainer nav .navLinks {
  height: 220px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-position: center;
}

.video-container .navBar .navContainer nav .navLinks a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.3);
  padding: 7px 20px;
  min-width: 70px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.video-container .navBar .navContainer nav .navLinks a:hover {
  background: #000;
}

.video-container .navBar .navContainer nav .navLinks:nth-child(1) {
  background: url(/VideoImages/navImages/home.jpeg);
}

.video-container .navBar .navContainer nav .navLinks:nth-child(2) {
  background: url(/VideoImages/navImages/genres.jpeg);
}

.video-container .navBar .navContainer nav .navLinks:nth-child(3) {
  background: url(/VideoImages/navImages/moods.jpeg);
}

.video-container .navBar .navContainer nav .navLinks:nth-child(4) {
  background: url(/VideoImages/navImages/artists.jpeg);
}



.video-container .navBar .logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.video-container .navBar .logo h1 {
  display: block;
  position: relative;
  transform: rotate(270deg);
  transform-origin: 50% 50%;
  margin-bottom: 104px;
}

/* headline */

.video-container .tagline {
  height: 100vh;
  width: 75px;
  background: #fff;
  color: #000;
  position: fixed;
  left: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.video-container .headline {
  transform: rotate(-90deg);
  text-align: center;
  display: flex;
  width: 100vh;
}

.video-container .headline span {
  width: 30vh;
  background: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .5px;
}

.video-container .tagline::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 1%;
  background: #000;
}

/* Main Content */
.video-container .mainContainer {
  width: calc(100% - 150px);
  height: 100%;
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
}

.video-container .content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 50vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  overflow: hidden;
}

.video-container .content .heading {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 500px;
}

.video-container .content .heading span,
.video-container .content .heading a,
.video-container .content .heading h2 {
  color: white;
  mix-blend-mode: hard-light;
  text-decoration: none;
}

.video-container .content .heading a:nth-child(1) {
  font-weight: 700;
}

.video-container .content .heading a:hover {
  text-decoration: underline;
}

.video-container .content .heading .imgContent {
  width: 70px;
  height: 70px;
  vertical-align: top;
}

.video-container .content .heading .imgContent img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.video-container .content .playDownload {
  width: 100%;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  font-size: 25px;
  color: white;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.video-container .content .playDownload span {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.video-container .content .playDownload span:hover {
  background: rgba(0, 0, 0, 0.5);
}

.video-container .content .playDownload span:nth-child(1) {

  padding: 18px 25px;
}

.video-container .content .playDownload span:nth-child(2) {
  font-size: 18px;
  padding: 15px;
}


.video-container .content .socialContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  padding: 2% 2%;
  right: -100%;
  border-radius: 5px;
  text-align: center;
}

.video-container .content .socialContent a {
  color: white;

}

.video-container .content:hover .socialContent {
  right: 0;
}

.video-container .socialContent:hover span:hover {
  transform: scale(1.2);
}


.video-container .fullWidth {
  grid-column: span 2;
}

.video-container .pagination {
  width: calc(100% - 150px);
  margin-left: 150px;

  background: #000;
  padding: 2%;
  display: flex;
  gap: 0;
  justify-content: center;
  border-collapse: collapse;
  text-align: center;
}

.video-container .pagination span {
  width: 5%;
  padding: 1% 0;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-collapse: collapse;
  font-size: 10px;
  font-weight: 400;
}

.video-container .pagination span:nth-child(2) {
  cursor: text;
}

.pagination span+span {
  border-left: none;
}

.video-container .playVideo {
  height: 100vh;
  width: calc(100% - 150px);
  position: fixed;
  background: #000;
  top: 0;
  left: 150px;
  z-index: 9;
  display: grid;
  place-items: center;
  top: -100%;
}
.video-container .playVideo span:hover{
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.5);
}
.video-container .playVideo span{
    position: absolute;
    top:-3%;
    right: -1.5%;
    padding: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
.video-container  .playVideo iframe{
    border-radius: 15px;
    height: 90%;
    width: 95%;
  }