.book-card {
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.book-card .book-image-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.book-card .book-card .book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-card .book-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ff6464;
}

.book-card .book-details {
  padding: 16px;
}

.book-card .book-author {
  display: block;
  color: #a9a9a9;
  font-size: 18px;
}

.book-card .book-rating {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.book-card .rating-number {
  margin-right: 4px;
  color: #333;
  font-size: 14px;
}

.book-card .rating-star {
  color: #ffa500;
  font-size: 20px;
}

.book-card .book-title {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
  font-weight: bolder;
}

.book-card .book-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.book-card .book-price {
  font-size: 16px;
  color: #333;
}

.book-card .book-icon {
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-card .book-icon:hover {
  background-color: cadetblue;
}


@media (max-width: 768px) {
  .book-card  .book-card {
    width: 200px; 
  }

  .book-card .book-heart {
    font-size: 18px; 
  }

  .book-card .book-details {
    padding: 12px; 
  }

  .book-card .book-author {
    font-size: 16px; 
  }

  .book-card  .book-rating {
    margin-top: 2px; 
  }

  .book-card  .rating-number {
    font-size: 12px; 
  }

  .book-card .rating-star {
    font-size: 18px; 
  }

  .book-card .book-title {
    font-size: 14px;
  }

  .book-card .book-footer {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .book-card .book-price {
    font-size: 14px; 
  }

  .book-card .book-icon {
    height: 28px; 
    width: 28px;
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .book-card .book-card {
    width: 100%; 
    max-width: 300px; 
  }

  .book-card .book-image-container {
    height: 200px; 
  }

  .book-card .book-heart {
    font-size: 16px;
  }

  .book-card .book-details {
    padding: 10px; 
  }

  .book-card  .book-author {
    font-size: 14px; 
  }

  .book-card  .book-rating {
    margin-top: 0; 
  }

  .book-card .rating-number {
    font-size: 10px; 
  }

  .book-card .rating-star {
    font-size: 16px; 
  }

  .book-card .book-title {
    font-size: 12px; 
  }

  .book-card  .book-footer {
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 8px; 
  }

  .book-card .book-price {
    font-size: 12px; 
  }

  .book-card .book-icon {
    height: 24px;
    width: 24px;
    font-size: 14px; 
  }
}
