.slick-prev, .slick-next {
    z-index: 2;
    width: 40px;
    height: 40px;
  }
  
  .slick-prev:hover, .slick-next:hover {
    color: #007bff;
    cursor: pointer;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  